<div id="gjs"></div>

<div class="blocks" #blocksDiv>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: activeBlockType == BlockTab.Elements }"
        (click)="activeBlockType = BlockTab.Elements"
        >Elements</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: activeBlockType == BlockTab.Templates }"
        (click)="activeBlockType = BlockTab.Templates"
        >Templates</a
      >
    </li>
  </ul>
  <ng-container *ngIf="BlockTab.Elements == activeBlockType">
    <div class="row m-0">
      <div class="col-md-6 p-auto mt-3" *ngFor="let block of blocks">
        <div
          class="block w-100 h-100"
          (dragstart)="onDragStart(block, $event)"
          (dragend)="onDragStop()"
          draggable="true"
        >
          <img
            [src]="'/assets/icons/'+block?.attributes?.iconLink"
            alt=""
            srcset=""
            width="100%"
            height="100% "
          />
          <div class="block-label" [innerText]="block.attributes.label"></div>
          <div class="block-cat"></div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
