.gjs-one-bg {
  background-color: #ffffff !important;
}
.gjs-two-color {
  color: #000000 !important;
}
#gjs {
  height: 100vh !important;
}
.gjs-pn-views-container {
  padding-top: 0px !important;
  top: 40px !important;
  left: 0 !important;
  height: calc(100% - 40px) !important;
}
.gjs-pn-commands {
  box-shadow: none !important;
  left: auto !important;
  right: 0 !important;
}
.gjs-four-color {
  color: #ffffff !important;
}
.gjs-pn-views {
  background-color: #59b1f1 !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  right: 0;
  width: 15%;
  z-index: 4;
}
.gjs-blocks-cs {
  padding-top: 40px;
}
.gjs-cv-canvas {
  background-color: rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  width: 85%;
  height: calc(100% - 40px);
  bottom: 0;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  right: 0px !important;
  left: auto !important;
  top: 40px;
}
.gjs-pn-views {
  left: 0 !important;
  right: auto !important;
}
.gjs-pn-devices-c {
  right: 0 !important;
  left: auto !important;
}
.gjs-pn-tab-panel {
  top: 42px !important;
  height: 40px !important;
  z-index: 5 !important;
}
.gjs-devices-c {
  padding: 0 !important;
}

.gjs-fonts::before {
  display: block;
  font: normal normal normal 14px font3336;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3em;
}
